// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark:#28b485; 

$color-secondary-light: #ffb900;

$color-grey-dark: #777;
$color-grey-dark-1: #999;
$color-grey-dark-2: #333;
$color-white: #fff;
$color-black: #000;

$color-grey-light: #f7f7f7;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$shadow-black-light: .7rem .7rem 3rem rgba(0, 0, 0, 0.3); 

$toro-red-1: #ce0f24;
$toro-red-2: #b91125;
