svg:not(:root ) {
  width:100%;
  height: 33rem;
}

.plant {
  stroke: $color-primary;
  stroke-width: .1rem;
  fill-opacity: 0;
  stroke-dasharray: 1700;
  stroke-dashoffset: 1700;

  &--javascript {
    fill: url(#linear-gradient-javascript);
  }
  &--react {
    fill: url(#linear-gradient-react);
  }
  &--sass {
    fill: url(#linear-gradient-sass);
  }
  &--node {
    fill: url(#linear-gradient-node);
  }
  &--graphql {
    fill: url(#linear-gradient-graphql);
  }
  &--mongo {
    fill: url(#linear-gradient-mongo);
  }
  &--illustrator {
    fill: url(#linear-gradient-illustrator);
  }
  &--sketch {
    fill: url(#linear-gradient-sketch);
  }
  &--photoshop {
    fill: url(#linear-gradient-photoshop);
  }
  
  
}

.animated-svg {
  -moz-animation: animatePath 3s ease-in-out forwards;
  -webkit-animation: animatePath 3s ease-in-out  forwards;
}