*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 35%;

  @include respond(tab-port) {
    font-size: 62.5%;
  }
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.7;
  color: $color-grey-dark;

  @include respond(tab-port) {
    padding: 30px;
  }
}

#html5-watermark {
  display: none !important;
}
